* { margin:0; padding:0; } /* to remove the top and left whitespace */

/*html, body { width:100%; height:100%; } */
canvas { display:block;background-color: black;} /* To remove the scrollbars */

body {
  background-color: #F5F5F5;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
